@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  /* .hero-heading {
    @apply md:text-7xl font-regular leading-[84px] text-center bg-clip-text text-transparent font-lexend bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50 font-bold;
  } */
  .hero-text {
    @apply mx-auto text-center text-xl font-normal leading-7 text-neutral-300;
  }

  .custom-container {
    @apply mx-auto max-w-[1600px] px-4;
  }

  .section-heading {
    @apply text-center font-lexend text-4xl font-bold tracking-wide text-heading md:text-6xl lg:text-7xl;
  }
}

#particles canvas {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}
